{
  "presets": [[
    "env", {
      "targets": {
        "node": "current"
      },
      "useBuiltIns": true
    }
    ], "react"],
  "plugins": [
    "babel-plugin-transform-object-rest-spread"
  ],
  "ignore": []
}
